.header {
  background-color: #333;
  color: white;
  padding: 2px 10px;
}

.header ul {
  list-style-type: none;
  display: flex;
}
.header nav ul li {
  margin-top: 10px; /* Відступ зверху для кожного пункту меню */
}
.header li {
  margin-right: 30px;
}

.header a {
  color: white; 
  text-decoration: none;
}

.header a.active {
  color: burlywood; 
  font-weight: bold; 
}